<% if (item.tags && item.tags.length > 0){ %>
    <div class="tags-row">
        <% item.tags.forEach(function(tag) { %>
            <a href="#" class="chip <%= theme.color.tag %>"><%= tag %></a>
        <% }); %>
    </div>
<% } %>
