<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SGOOL</title>
        <link rel="shortcut icon" href="/images/title-icon.png">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Bootstrap -->
        <link href="/fonts/iconfont.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.css" rel="stylesheet">
        <link href="/css/owl.carousel.css" rel="stylesheet">
        <link href="/css/owl.theme.css" rel="stylesheet">
        <link href="/css/owl.transitions.css" rel="stylesheet">
        <link href="/css/about.style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->


<!-- 
        <script type="text/javascript" src="http://api.map.baidu.com/api?ak=3ZaYAG1rsoHLexYooG7XKnhavsysa3u7&type=lite&v=1.0"></script>
            
        <script type="text/javascript">
            var map = new BMap.Map('mapContainer');
            // 创建地图实例
            var point = new BMap.Point(120.129918,30.267315);
            // 创建点坐标
            map.centerAndZoom(point, 18);
            // 初始化地图， 设置中心点坐标和地图级别
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
        </script> -->



    </head>
    <body data-spy="scroll" data-target=".main-nav">

        <header class="st-navbar">
            <nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
                <div class="container"><!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/images/logo3.png" alt="" class="img-responsive" style="float: left" ><p style="float: right;margin: auto 10px;font-size: 1.55em;height: 30px; padding-top:5px;color: #fff;">SGOOL</p></a>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
<!--                    <div class="collapse navbar-collapse main-nav" id="sept-main-nav">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#home">主页</a></li>
                            <li><a href="#about">业务板块</a></li>
                            <li><a href="#liucheng">业务流程</a></li>
                            <li><a href="#contact">预约勘查</a></li>
                            <li><a href="#service">我们的优势</a></li>
                            <li><a href="#partner">合作伙伴</a></li>
                            <li><a href="#portfolio">我们的案例</a></li>
                        </ul>
                    </div> --><!-- /.navbar-collapse -->
                </div>
            </nav>
        </header>

        <section class="home" id="home" data-stellar-background-ratio="0.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="st-home-unit">
                            <div class="hero-txt">
                                <!--<p class="hero-work">打造电力行业新生态</p>-->
                                <h2 class="hero-title">浙江大学电气学院</h2>
                                 <p class="hero-sub-title">SGOOL实验室</p>
                                <!-- <a href="#" class="btn btn-default btn-lg left-btn">Purchase Now</a> -->
                                <!--<a href="#" class="btn btn-main btn-lg">Find Out More</a>-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about" id="about" style="margin-bottom: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title st-center">
                            <h3>关于实验室</h3>
                            <!-- <p>business unit</p> -->
                        </div>
                        <p style="font-size: 18px;"><strong>智能电网运行与优化实验室</strong>（SGOOL）于清华大学电机系（2009年）与浙江大学电气工程学院（2013年）分别成立，学术带头人为宋永华教授（英国皇家工程院院士、IEEE Fellow），宋永华院士现任澳门大学校长和讲座教授、清华大学和浙江大学客座教授。实验室自成立以来，致力于促进中国智能电网与可再生能源的发展，专注于电力系统优化运行与控制、智能电网、可再生能源、电力市场、能源互联网等研究领域，现已成为一支在国际上具有一定影响力的研究团队。实验室研究团队包括两名教授、一名研究员、四名副教授以及一批博士后与研究生。 实验室在国家/国际科研项目与人才培养等方面取得了突出成果，国际交流密切，已接收海外高校访问学者多名。实验室已承担约12项国家/国际科研项目，包括国家重点研发计划项目、国家高技术研究发展计划项目（863计划）、国家自然科学基金项目和国际科学技术合作项目，以及超过20项电力公司科研项目，相关研究成果已应用于蒙东风电基地、北京电网、华北电网、广东电网、贵州电网、辽宁电网等。2010年至今，实验室共申请专利15项，发表和录用期刊论文约140篇，其中SCI论文50余篇，40余篇发表在IEEE Transactions系列期刊上。研究成果获2017年教育部自然科学一等奖。 </p>
                        <!--<div class="row mb90">-->
                            <!--<div class="col-md-6">-->
                                <!--<p>Texit l, habere se indocti magnosque culpa gravioribus discedere eas indignae diogenem, praetermissum effugiendorum vult dicent, periculum dolere putat. Iucunditatem quid turbulenta patre eae depravatum talem elaborare plerisque repellere, o potiendi tuo aliter, militaris sint tranquillat liberalitati. Locus delicata divelli intemperantes audeam maximisque sitne pulcherrimum aegritudines studium. Habent inveniri fidelissimae aequi andriam laudabilis. Libido censet assiduitas quae probantur tantalo exquisitaque erunt laudatur optari. Late suapte veterum enim qui magna securi eaque proficiscuntur.</p>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                                <!--<img src="photos/about.jpg" alt="" class="img-responsive">-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--    <div class="row">
                            <div class="col-md-4">
                                <div class="st-member">
                                    <div class="st-member-info">
                                        <strong class="st-member-name">电力工程</strong>
                                        <p class="st-member-pos">electric power project</p>
                                        <div class="skills">
                                            <div class="skill">
                                                <strong>行业占有率</strong>
                                                <span>33%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <strong>好评率</strong>
                                                <span>94%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 94%;">
                                                        <span class="sr-only">94% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <strong>业内排行</strong>
                                                <span>66%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                                        <span class="sr-only">66% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="st-member-social">
                                            所有需要用电的用户都是我们的客户。我们除了为客户
                                            完成施工任务外，还负责电力部门的手续办理、设计、验收等工作。我
                                            们的涉猎到学校、医院、市政、住宅、工业、农业、旅游等各行各业以
                                            及各种形式的存在的公司。
                                        </div>
                                    </div>
                                    <div class="st-member-img">
                                        <img src="photos/member1.jpg" alt="" class="img-responsive">
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="st-member">
                                    <div class="st-member-img">
                                        <img src="photos/member2.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="st-member-info">
                                        <strong class="st-member-name">光伏电站</strong>
                                        <p class="st-member-pos">photovoltaic power station</p>
                                        <div class="skills">
                                            <div class="skill">
                                                <strong>行业占有率</strong>
                                                <span>22%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%;">
                                                        <span class="sr-only">22% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <strong>好评率</strong>
                                                <span>96%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                                        <span class="sr-only">96% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <strong>业内排行</strong>
                                                <span>35%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
                                                        <span class="sr-only">35% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="st-member-social">
                                            2013年开始，国家开始实施光伏发电国家补贴政策，补贴期限20年，此后国家各部门相继出台有力政策，支持光伏并网国家补贴与地方补贴同步进行。
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="st-member">
                                    <div class="st-member-img">
                                        <img src="photos/member3.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="st-member-info">
                                        <strong class="st-member-name">电锅炉改造</strong>
                                        <p class="st-member-pos">Electric boiler reforming</p>
                                        <div class="skills">
                                            <div class="skill">
                                                <strong>行业占有率</strong>
                                                <span>18%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%;">
                                                        <span class="sr-only">18% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <strong>好评率</strong>
                                                <span>91%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%;">
                                                        <span class="sr-only">91% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <strong>业内排行</strong>
                                                <span>42%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%;">
                                                        <span class="sr-only">42% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="st-member-social">
                                            新能源具有储量丰富、可以循环使用、没有污染或很少污染等特点。
                                            新能源：又称非常规能源。是指传统能源之外的各种能源形式。指刚开始开发利用或正在积极研究、有待推广的能源，如太阳能、地热能、风能、海洋能、生物质能和核聚变能等。
                                        </div>
                                    </div>
                                </div>
                            </div> -->


                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="clients" id="liucheng" style="background: #187cc2;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title st-center">
                            <h3 style="color: #fff">创新实验室</h3>
                            <!-- <p style="color: #fff">business process</p> -->
                        </div>
                        <p style="color: #fff;font-size: 18px;">由现任浙江大学电气工程学院副院长郭创新教授带领的一支研究团队组成。实验室致力于促进中国智能电网与可再生能源的发展，着力开展电网智能调度控制与风险调度控制理论与应用、可再生能源接入与智能配电网技术、智能信息处理技术及在电力系统中的应用等方面的科学研究和学术创新，培养了一批高素质、高水平的创新型研究人才和技术骨干。实验室在科研项目与人才培养等方面取得了突出成果。近年来，实验室参与国家级及重大横向项目40余项，其中国家自然科学基金2项，国家863计划3项。自成立以来，实验室成员在《中国电机工程学报》、IEEE Trans on Power Systems等杂志上发表学术论文220篇，其中SCI收录38篇，EI收录158篇，论文引用次数1614次，其中他引次数1506次，SCI单篇最大引用次数335次。申请专利12项，已授权发明专利6项，实用新型专利1项，软件著作权4项。2005年“复杂电力系统的稳定控制与智能优化理论与方法的研究”项目获教育部自然科学一等奖，2006年“电力系统稳定与经济运行的理论与方法研究”项目获浙江省高校科研成果一等奖，2007年入选教育部“新世纪优秀人才支持计划”，2008年“电力信息集成中的若干关键技术研究与开发”项目获教育部科学进步一等奖。 </p>
        <!--                <div class="row">
                            <img src="/images/liucheng.png" width="100%" />
                        </div> -->
                    </div>
                </div>
            </div>
        </section>



<!--        <section class="contact" id="calc" style="background: #187cc2;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title st-center">
                            <h3 style="color: #fff;">光伏计算器</h3>
                            <p style="color: #fff;">Photovoltaic calculator</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="color: #fff;">请输入您的光伏可安装面积我们会为您估算出您一年的收益。</p>

                    </div>
                    <div class="col-md-6">
                        <form class="contact-form" role="form">
                            <input type="text" class="form-control" id="area" name="area" placeholder="请输入您的房屋占地面积(平方米)">
                            <button class="btn btn-main btn-lg" type="submit" id="clac_button" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending...">
                            开始计算</button>
                            <div><label id="calc_l1"></label></div>
                            <div><label id="calc_l2"></label></div>
                            <div><label id="calc_l3"></label></div>
                            <div><label id="calc_l4"></label></div>
                            <div><label id="calc_l5"></label></div>
                            <div><label id="calc_l6"></label></div>

    
                        </form>
                        <div id="result-message" role="alert"></div>
                    </div>

                </div>
            </div>
        </section> -->

<!-- 
        <section class="portfolio" id="portfolio">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 no-padding ">
                        <div class="section-title st-center">
                            <h3>我们的案例</h3>
                            <p>our products</p>
                        </div>
                        <div class="filter mb40">
                            <form id="filter">
                            <fieldset class="group">
                                <label class="btn btn-default btn-main"><input type="radio" name="filter" value="all" checked="checked">全部</label>
                                <label class="btn btn-default"><input type="radio" name="filter" value="photography">电力工程</label>
                                <label class="btn btn-default"><input type="radio" name="filter" value="design">光伏电站</label>
                                <label class="btn btn-default"><input type="radio" name="filter" value="codding">电锅炉改造</label>
                            </fieldset>
                            </form>
                        </div>

                        <div class="grid">
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl1.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>沈阳亿丰时代广场</span></h2>
                                    <p>沈阳亿丰时代广场Ⅲ期电力设备安装工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl2.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>高科西部汽配</span></h2>
                                    <p>高科西部汽配新城配电工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl3.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>沈阳奥园会展广场</span></h2>
                                    <p>沈阳奥园会展广场二期CD区自维电及二次返出工程
                                    </p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl4.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>松下</span></h2>
                                    <p>松下蓄电池10kV外线配套工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl5.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>女人街商业广场</span></h2>
                                    <p>女人街商业广场10kV备用电源进线工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl6.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>华电乌套海风电场</span></h2>
                                    <p>华电乌套海风电场300MW风电项目
                                        35KV集电线路及机组变安装调式工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl7.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>阳光100</span></h2>
                                    <p>阳光100新城自维配电工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["photography"]'>
                                <img src="/images/dl8.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>全运会保卫指挥中心</span></h2>
                                    <p>10KV全运会保卫指挥中心变电所新建工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["design"]'>
                                <img src="/images/gf1.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>葫芦岛南票区</span></h2>
                                    <p>葫芦岛南票区台集屯镇人民政府 500KW光伏新建工程</p>
                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["design"]'>
                                <img src="/images/gf2.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>铁岭农村用户</span></h2>
                                    <p>铁岭农村用户光伏10KW项目</p>

                                </figcaption>
                            </figure>
                            <figure class="portfolio-item" data-groups='["codding"]'>
                                <img src="/images/gl2.jpg" alt=""/>
                                <figcaption>
                                    <h2><span>胜利机械有限责任公司</span></h2>
                                    <p>长春市胜利机械设备配套有限责任公司锅炉改造</p>
                                </figcaption>
                            </figure>
                        </div>

                    </div>
                </div>
            </div>
        </section>
 -->
<!--        <section class="service" id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title st-center">
                            <h3>我们的团队</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="st-feature">
                                    <div class="st-feature-icon"><i class="fa fa-cog"></i></div>
                                    <strong class="st-feature-title">强大的电力平台</strong>
                                    <p>一站式服务，为您解决所有的电力之忧...</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="st-feature">
                                    <div class="st-feature-icon"><i class="fa fa-university"></i></div>
                                    <strong class="st-feature-title">强大的人才库</strong>
                                    <p>为您解决安装，维护，统计的琐碎工作...</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="st-feature">
                                    <div class="st-feature-icon"><i class="fa fa-comments"></i></div>
                                    <strong class="st-feature-title">高效率的团队</strong>
                                    <p>第一时间响应并解决您的问题...</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="st-feature">
                                    <div class="st-feature-icon"><i class="fa fa-life-ring"></i></div>
                                    <strong class="st-feature-title">全新的商业模式</strong>
                                    <p>线上线下让您的体验优质的电力服务...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="service" id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title st-center">
                            <h3>我们的团队</h3>
                        </div>
                        <div class="row professor" style="width: 80%;margin: 0 auto;">
                            <div class="col-md-6">
                                <a href="https://person.zju.edu.cn/dongshufeng"><div class="st-feature">
                                    <img src="/about/董老师.jpg">
                                    <strong class="st-feature-title">董树锋 老师</strong>
                                    <p style="color: #000;">执行策划</p>
                                </div></a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://person.zju.edu.cn/gordon"><div class="st-feature">
                                    <img src="/about/郭老师.jpg">
                                    <strong class="st-feature-title">郭创新 老师</strong>
                                    <p style="color: #000;">执行策划</p>
                                </div></a>
                            </div>

                        </div>
                        <br/><br/>
                        <div class="row student">
                            <div class="col-md-2">
                                <a href="/about/tangkunjie.html"><div class="st-feature">
                                    <img src="/about/唐坤杰.jpg">
                                    <strong class="st-feature-title">唐坤杰(博士)</strong>
                                    <p style="color: #000;">执行策划</p>
                                </div></a>
                            </div>
                            <div class="col-md-2">
                                <a href="/about/shiyunhui.html"><div class="st-feature">
                                    <img src="/about/施云辉.jpg">
                                    <strong class="st-feature-title">施云辉(硕士)</strong>
                                    <p style="color: #000;">执行策划</p>
                                </div></a>
                            </div>
                            <div class="col-md-2">
                                <a href="/about/fangrui.html"><div class="st-feature">
                                    <img src="/about/方睿.jpg">
                                    <strong class="st-feature-title">方睿(硕士)</strong>
                                    <p style="color: #000;">开发</p>
                                </div></a>
                            </div>
                            <div class="col-md-2">
                                <a href="/about/zhujiaqi.html"><div class="st-feature">
                                    <img src="/about/朱嘉麒.jpg">
                                    <strong class="st-feature-title">朱嘉麒(硕士)</strong>
                                    <p style="color: #000;">开发</p>
                                </div></a>
                            </div>
                            <div class="col-md-2">
                                <a href="/about/caiyu.html"><div class="st-feature">
                                    <img src="/about/蔡宇.jpg">
                                    <strong class="st-feature-title">蔡宇(硕士)</strong>
                                    <p style="color: #000;">网页开发</p>
                                </div></a>
                            </div>
                            <div class="col-md-2">
                                <a href="/about/xuchengsi.html"><div class="st-feature">
                                    <img src="/about/徐成司.jpg">
                                    <strong class="st-feature-title">徐成司(硕士)</strong>
                                    <p style="color: #000;">开发</p>
                                </div></a>
                            </div>
                        </div>
                        <div class="row student">
                            <div class="col-md-3">
                                <a href="/about/zhangzhanghuang.html"><div class="st-feature">
                                    <img src="/about/张章煌.jpg">
                                    <strong class="st-feature-title">张章煌(硕士)</strong>
                                    <p style="color: #000;">开发</p>
                                </div></a>
                            </div>
                            <div class="col-md-3">
                                <a href="/about/wangxiaoci.html"><div class="st-feature">
                                    <img src="/about/王孝慈.jpg">
                                    <strong class="st-feature-title">王孝慈(硕士)</strong>
                                    <p style="color: #000;">开发</p>
                                </div></a>
                            </div>
                            <div class="col-md-3">
                                <a href="/about/xuenchao.html"><div class="st-feature">
                                    <img src="/about/许恩超.jpg">
                                    <strong class="st-feature-title">许恩超(硕士)</strong>
                                    <p style="color: #000;">开发</p>
                                </div></a>
                            </div>
                            <div class="col-md-3">
                                <a href="/about/tangyingqi.html"><div class="st-feature">
                                    <img src="/about/唐滢淇.jpg">
                                    <strong class="st-feature-title">唐滢淇(硕士)</strong>
                                    <p style="color: #000;">开发</p>
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="funfacts" data-stellar-background-ratio="0.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="funfact">
                            <div class="st-funfact-icon"><i class="fa fa-tasks"></i></div>
                            <div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="10" data-runit="1">0</span>+</div>
                            <strong class="funfact-title">科研课题</strong>
                        </div><!-- .funfact -->
                    </div>
                    <div class="col-md-3">
                        <div class="funfact">
                            <div class="st-funfact-icon"><i class="fa fa-coffee"></i></div>
                            <div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="642" data-runit="1">0</span>+</div>
                            <strong class="funfact-title">杯咖啡</strong>
                        </div><!-- .funfact -->
                    </div>
                    <div class="col-md-3">
                        <div class="funfact">
                            <div class="st-funfact-icon"><i class="fa fa-code"></i></div>
                            <div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="8000000" data-runit="1">0</span>+</div>
                            <strong class="funfact-title">行代码</strong>
                        </div><!-- .funfact -->
                    </div>
                    <div class="col-md-3">
                        <div class="funfact">
                            <div class="st-funfact-icon"><i class="fa fa-graduation-cap"></i></div>
                            <div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="40" data-runit="1">0</span>+</div>
                            <strong class="funfact-title">篇论文</strong>
                        </div><!-- .funfact -->
                    </div>
                </div>
            </div>
        </section>

<!--        <section class="clients" id="partner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title st-center">
                            <h3>合作伙伴</h3>
                            <p>cooperative partner</p>
                        </div>
                        <ul class="clients-carousel">
                            <li><img src="/images/hz1.jpg" class="img-responsive" alt=""></li>
                            <li><img src="/images/hz2.jpg" class="img-responsive" alt=""></li>
                            <li><img src="/images/hz7.jpg" class="img-responsive" alt=""></li>
                            <li><img src="/images/hz8.jpg" class="img-responsive" alt=""></li>
                            <li><img src="/images/hz3.jpg" class="img-responsive" alt=""></li>
                            <li><img src="/images/hz4.jpg" class="img-responsive" alt=""></li>
                            <li><img src="/images/hz5.jpg" class="img-responsive" alt=""></li>
                            <li><img src="/images/hz6.jpg" class="img-responsive" alt=""></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
 -->

        <section class="contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title st-center">
                            <h3>联系我们</h3>
                        <!--    <p>Make an appointment to survey</p> -->
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center">
<!--                    <div class="col-md-8">
                        <div id="mapContainer"></div>
                    </div>
                    <div class="col-md-4"> -->
                        <address>
                            <strong>浙江大学电气学院</strong>
                            <br><br>地址：浙江省杭州市浙江大学玉泉校区电机工程楼
                            <br><br>邮箱：dongshufeng@zju.edu.cn <br><br>
                                    电话：0571-87953171 
                        </address>
                    </div>
                </div>
            </div>
        </section>


        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Copyright &copy; 2018.SGOOL all rights reserved.
                    </div>
                </div>
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/jquery.stellar.js"></script>
        <script src="/js/jquery.appear.js"></script>
        <script src="/js/jquery.nicescroll.min.js"></script>
        <script src="/js/jquery.countTo.js"></script>
        <script src="/js/jquery.shuffle.modernizr.js"></script>
        <script src="/js/jquery.shuffle.js"></script>
        <script src="/js/owl.carousel.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>