<div class="article">
  <div class="article-title">
    <h3 class="title"><%= page.title %></h3>
  </div>

  <div class="post-content">
    <p> <%- page.excerpt %> </p>
  </div>

  <a class="article-readmore" href="http://baidu.com" >查看详情</a>
</div>