.download_section{
	background-color: #fff;
	margin: 80px;
}

.download_section h2 {
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
    word-spacing: -0.15em;
    
    font-weight: 10;
}



.download_container{
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	/*background-color: #eee;*/
	background-color: #fff;
	width: 80%;
}


.download_container .download_card{
	width: 33%;
	display: inline-block;
	/*background-color: #00ff00;*/

}

.download_container .download_card p.download_chinese{
	/*color: #000;*/
	font-size: 1.15em;
	margin: 20px;
}
.download_container .download_card p.download_english{
	/*color: #000;*/
	font-size: 1.15em;
	margin: 10px;
}

.download_container .download_card a{ 
	text-decoration:none;
	color: #000;
}

.download_container .download_card a:hover{ 
	color: blue;
}