.header{
	float:left;
	width:100%;
	height:auto;
	padding:46px 0 46px 0;
}

.header_fix{
	float:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	padding:16px 0 16px 0;
	z-index:99999;
	background:#fff;
	box-shadow:0 0 5px #000; -webkit-box-shadow:0 0 5px #000;
	}

.logo{
	float:left;
	margin:8px 0 0 0;
	}
	
.nav{
	float:right;
	margin:0 0 0 0;
	}

.nav .title{
	display:none;
	}

.nav select{
	display:none;
	}
	
.nav ul{
	float:right;
	margin:0 0 0 0;
	}
	
.nav ul li{
	float:left;
	margin:0 0 0 0;
	}

.nav ul li a{
	float:left;
	text-decoration:none;
	text-align:center;
	font-family: 'open_sansregular';
	font-size:13px;
	color:#333;
	font-weight:normal;
	margin:0 0 0 0;
	padding:10px 25px 10px 25px;
	text-transform:uppercase;
	margin:0 0 0 0;
	transition:0.5s; -webkit-transition:0.5s;
	} 
	
.nav ul li:last-of-type{
	float:right;
	margin:0 0 0 40px;
	}
	
.nav ul li:last-of-type a{
	background:#187cc2;
	color:#fff;
	}
	
.nav ul li a:hover{
	background:#187cc2;
	color:#fff;
	}
	
.nav ul li:last-of-type a:hover{
	background:#323232;
	color:#fff;
	}