.intro_section{
	margin-top: 80px;
}

.intro_section h2 {
	padding: 30px;
	font-size: 35px;
	text-align: center;
	box-sizing: border-box;
	word-spacing: -0.15em;
	
	font-weight: 10;
}


.intro_container{
	margin: 0 auto;
	/*padding-top: 80px;*/
	
	background-color: #eee;
	background-image: url('../images/introBg.png');
	height: 434px;
	

}

.testimonial_box {
	color: #fff;
	background-color:rgba(0,0,0,0);
	/*background-image: url('../images/introBg.png');*/
	display:table;
	position:relative;
	width:920px;
	height:85px;
	border:1px solid #e7e7e7;
	margin:20px auto 30px 150px;
	padding:30px;
	transition:0.5s; -webkit-transition:0.5s;
	border-radius:5px; -webkit-border-radius:5px; 
	}

.testimonial_box a{
	color: #fff;
}


	
.testimonial_box .quote_button{
	position:absolute;
	margin:0 0 0 0;
	z-index:5;
	left:-20px;
	top:-15px;
	}
	
.testimonial_box .para{
	float:left;
	width:600px;
	text-align:left;
	font-family: 'open_sanslight';
	font-size:14px;
	color:#5f5f5f;
	line-height:24px;
	margin:10px 0 0 0;
	font-style:italic;
	}
	
.testimonial_box .clientinfo{
	float:right;
	width:110px;
	margin:0 0 0 0;
	text-align:center;
	font-family: 'open_sansregular';
	font-size:13px;
	color:#000;
	}
	
.testimonial_box .clientinfo img{
	display:table;
	margin:0 auto 10px auto;
	}
	
.common_section .iconblock{
	float:left;
	width:300px;
	height:70px;
	padding:0 0 0 0;
	background:#fff;
	border:1px solid #e7e7e7;
	text-align:center;
	font-family: 'open_sansregular';
	font-size:20px;
	color:#333;
	position:relative;
	line-height:70px;
	transition:0.5s; -webkit-transition:0.5s;
	}