/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');




	
.common_section .article{
	margin: 0;
	padding:0;
	background:#fff;
	border-bottom :2px dashed #e7e7e7;
	font-family: 'open_sansregular';
	font-size:20px;
	color:#333;
	/*position:relative;*/
/*	line-height:70px;*/
	transition:0.5s; -webkit-transition:0.5s;
	}
	
.common_section .article:hover{
	z-index:33;
	box-shadow:0 0 11px #666; -webkit-box-shadow:0 0 11px #666;
	}

.article .article-title{
	margin-top: 20px; 
	margin-left: 20px;
	margin-right: 20px;
}

.article .article-title .article-title-left{
    float: left;
    width: 80%;
}

.article .article-content{
	margin: 20px;
	font-size: 16px;
}

.article .article-readmore{
	margin: 20px;
	margin-bottom: 50px;
}