/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.book_section{
	background: #eee !important;
	float:left;
	width:100%;
	padding:80px 0 80px 0;
	}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

.book_section {
    padding: 60px 0;
}

.book_section .section-title {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

.book_section .card {

    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
   margin: 0 auto;
   /* min-height: 312px;*/
   height: 520px;

}


.backside .card .purchase{
	width: 100%;
	
    bottom: 10px;
    position: absolute;
    text-align: center;
}

.backside .card .purchase a {
	left:30%;
	position: relative;
    font-size: 18px;
}

.frontside .card .card-title,
.backside .card .card-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight:bold;
    font-size: 24px;
    color: #333 !important;
    background-color: #c0e3e7;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card .description {
	margin: 20px;
	font-size: 16px;
}

.card .card-author{
	font-size: 16px;
}

.card .bookname{
	margin-top: 20px;
}

.card .bookimg{
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #c0e3e7;
}


	
.common_section .article{
	margin: 30px;
	padding:0 0 20px 0;
	background:#fff;
	border:1px solid #e7e7e7;
	font-family: 'open_sansregular';
	font-size:20px;
	color:#333;
	/*position:relative;*/
/*	line-height:70px;*/
	transition:0.5s; -webkit-transition:0.5s;
	}
	
.common_section .article:hover{
	z-index:33;
	box-shadow:0 0 11px #666; -webkit-box-shadow:0 0 11px #666;
	}

.article .article-title{
	margin-top: 20px; 
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 0.5px solid #333;
}

.article .article-content{
	margin: 20px;
	font-size: 16px;
}

.article .article-readmore{
	margin: 20px;
	margin-bottom: 50px;
}